{% extends 'base.html' %}

{% block title %} Mi Carrito - Gennady.Store{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='CSS/list_containers.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='CSS/product_page.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='JS/product_redirect.js') }}"></script>
    <script src="{{ url_for('.static', filename='JS/cart_page.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Mi Carrito   ($ {{total}})</h1>
    {% for prod in products%}
        <div class="list" onclick="redirectProduct({{prod['id']}})">
            <div class="list-container">
                <img src="{{url_for('static', filename="uploads/" + prod["image"])}}">
                <span> {{prod['name']}} </span>
                <p> Cantidad: {{prod['count']}}  Precio: ${{prod['price']}} </p>
            </div>
        </div>
    {% endfor %}
    <button class="addtocart" style="margin: auto;" onclick="orderCart()">Realizar compra</button>

{% endblock %}

