{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='CSS/product_page.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='JS/product_page.js') }}"></script>
    <script src="{{ url_for('.static', filename='JS/toastr.js') }}"></script>
    <script>
        var count_input = document.getElementById('cart_count');
        count_input.addEventListener('blur', function() {
            var count  = parseInt(count_input.value, 10);

            if(isNaN(count)){
                count_input.value = 1;
            }else{
                count_input.value = Math.max(Math.min(count, {{p_data['Stock']}}), 1);
            }
        });
    </script>
{% endblock %}


{% block content %}
    <div class="main-container">
        <div class="column">
            <div id="image-gallery">
                {% if p_data["Images"]|length > 1 %}
                <div id="thumbnail-column">
                    {% for img in p_data["Images"] %}
                        <img class="thumbnail" src="{{url_for('static', filename="uploads/" + img)}}" onclick="changeMainImage('{{url_for('static', filename="uploads/" + img)}}')">
                    {% endfor %}
                </div>
                {% endif %}
                <div id="main-image">
                    <img src="{{url_for('static', filename="uploads/" + p_data["Images"][0])}}" id="main-img">
                </div>
            </div>
        </div>
        <div class="column">
            <h1>{{p_data["Name"]}}</h1>
            <p>{{p_data["Description"]}}</p>
        </div>
        <div class="column">
            <h1>${{p_data["Price"]}}</h1>
            <h4>{{p_data["Stock"]}} in stock</h4>
            {% if not current_user.is_anonymous %}
            <div class="number-input-container">
                <button id="decrementButton" class="btn-down" onclick="decrement()">-</button>
                <input type="text" class="number-input" id="cart_count" value="1">
                <button class="btn-up" onclick="increment({{p_data['CartMax']}})" id="addtocart">+</button>
            </div>
            <button class = "addtocart" onclick="addToCart()">Add to cart</button>
            {% endif %}
        </div>
    </div>
{% endblock %}