{% extends 'base.html' %}
{% block title %} Productos - Gennady.Store {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='CSS/product_grid.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='JS/product_redirect.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="product_grid">
        <ul class="product_list list">
            {% for product in products %}
                <li class="product_item" onclick="redirectProduct({{product['pId']}})">
                    <div class="product_image">
                        <a href="#"><img src="{{url_for('static', filename="uploads/" + product["Images"][0])}}" alt=""></a>
                    </div>
                    <div class="product_values">
                        <div class="product_title">
                            <h5>{{product["Name"]}}</h5>
                        </div>
                        <div class="product_price">
                            <a href="#">$<span class="price_new">{{product["Price"]}}</span></a>
                        </div>
                        <div class="product_desc">
                            <p class="truncate">{{product["Description"]}}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}